<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" th:href="@{/dashboard}">
                <i class="fas fa-tasks me-2"></i>Sistema de Tareas
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/courses}">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tasks}">Tareas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/messages}">
                            Mensajes
                            <span th:if="${unreadMessageCount != null and unreadMessageCount > 0}" class="badge bg-danger ms-1" th:text="${unreadMessageCount}"></span>
                        </a>
                    </li>
                </ul>
                
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fas fa-user me-1"></i>
                            <span sec:authentication="name"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/profile}">Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form th:action="@{/logout}" method="post" class="d-inline">
                                    <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Alertas Globales - Justo después del header -->
    <div th:replace="~{fragments/alerts :: alerts}"></div>
</body>
</html>
